*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #08bbf6;
    border-radius: 10px;
  }

a{
    color: rgb(255, 255, 255) !important;
}

body{
    background-color: #030a19;
}

.main_pic{
    width: 100%;
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    height: 70px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0);
    z-index: 1000000;
    transition: ease-in 200ms;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    z-index: 10000000;
}

.video_logo{
    width: 100%;
    z-index: -1;
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-left: 10px;
}

.icons a:hover{
    background: #e56739;
    box-shadow: 0px 0px 10px 2px #f7c77f;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
}

.set_place a:hover{
    background: #e3f261;
    box-shadow: 0px 0px 10px 2px #f7faa9;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.enter_next{
    padding: 20px;
    width: 45em;
    margin-bottom: 10px;
    height: 12em;
    top: 50%;
    left: 25%;
    box-shadow: 0px 0px 50px 5px #3F60A0;
    border-radius: 10px;
    background-color: #030a19;
}
.scroll{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 5%;
    left: 42%;
    z-index: 100000;
    animation: float infinite ease-in 1000ms;
}



.enter_next_position{
    position: absolute;
}

.enter_next_big_text{
    color: rgb(255, 255, 255);
    font-style: italic;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 700;
}

.next_button{
    width: 200px;
    font-size: 30px;
    margin-left: 35%;
    font-weight: 700;
    height: 80px;
    text-align: center;
    padding: 20px;
    text-decoration: none !important;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 3px 2px 1px #dc727cc2;
    background-color: #900740;
    animation: big infinite 1000ms ease-in;
}

@keyframes float {
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

@keyframes big {
    0%{
        transform: scale(.9);
    }
    50%{
        transform: scale(1) ;
    }
    100%{
        transform: scale(.9);
    }
}

.next_button:hover{
    box-shadow: 0px 0px 10px 2px #900740;
    animation: none;
}

.hover_next_button{
    background-color: rgb(255, 255, 255) !important;
}

.promote{
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-right: 12%;
    margin-left: 12%;
}

.line{
    width:  80vw;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 12%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.foot{
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.email_form{
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    color: rgb(255, 255, 255);
}
.email_area{
    border-top: none;
    border-radius: 10px;
    width: 40vw;
    border-left: none;
    border-right: none;
    background-color: #030a19;
    color: rgb(255, 255, 255);
    outline: none;
}

.icons{
    font-size: 20px;
    display: flex;
    gap: 10px;
    padding: 10px;
    gap: 20px;
    color: rgb(255, 255, 255);
}

.terms,.copyright{
    color: #08bbf6;
    font-size: 12px;
}

.finish{
    width: 100%;
    height: 10px;
    background-color: #08bbf6;
}



@media (max-width:1200px) {
    .enter_next{
        top: 32vw;
    }
    .scroll{
        display: none;
    }
}

@media (max-width:1000px)
{
    .logo{
        width: 15rem;
    }
    .enter_next_big_text{
        font-size: 25px;
    }
    .enter_next{
        top: 32vw;
    }
    .enter_next{
        left: 10%;
    }
}

@media (max-width:800px)
{

    .set_place{
        display: none;
    }
    .enter_next {
        width: 100%;
        text-align: center;
    }
    .next_button{
        margin-left: 35vw;
    }
    .enter_next_position{
        position: initial;
    }
    .foot{
        flex-direction: column;
    }
    .enter_next{
        box-shadow: none;
    }
}

@media (max-width: 600px)
{
    .next_button {
    margin-left: 30vw;
    }
    .logo {
        width: 13rem;
    }
}

@media (max-width: 450px)
{
    .enter_next_big_text {
        font-size: 24px;
    }
    .logo {
        font-size: 20px;
    }
    .email_form{
        flex-direction: column;
    }
    .email_area{
        width: 60vw;
    }
    .next_button{
        width: 110px;
        font-size: 16px;
        margin-left: 30vw;
        height: 47px;
        padding: 11px;
    }
}